[submodule "antask-cloud-config"]
	path = antask-cloud-config
	url = ../antask-cloud-config
[submodule "antask-cloud-edge"]
	path = antask-cloud-edge
	url = ../antask-cloud-edge
[submodule "antask-cloud-eureka"]
	path = antask-cloud-eureka
	url = ../antask-cloud-eureka
[submodule "antask-cloud-task-service"]
	path = antask-cloud-task-service
	url = ../antask-cloud-task-service
[submodule "antask-cloud-zipkin"]
	path = antask-cloud-zipkin
	url = ../antask-cloud-zipkin
[submodule "antask-cloud-config-service"]
	path = antask-cloud-config-service
	url = ../antask-cloud-config-service
